<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0245A3;">
  <i class="bi bi-bank"></i>
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
    <path d="M8 .95 14.61 4h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.379l.5 2A.5.5 0 0 1 15.5 17H.5a.5.5 0 0 1-.485-.621l.5-2A.5.5 0 0 1 1 14V7H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 4h.89L8 .95zM3.776 4h8.447L8 2.05 3.776 4zM2 7v7h1V7H2zm2 0v7h2.5V7H4zm3.5 0v7h1V7h-1zm2 0v7H12V7H9.5zM13 7v7h1V7h-1zm2-1V5H1v1h14zm-.39 9H1.39l-.25 1h13.72l-.25-1z"/>
  </svg>
  <h2 style="color: white; padding: 10px; transform: translateY(10px);">Trust your Money with us</h2>
  <div class="spacer"></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div style="color:aliceblue" class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      
      <li ngbDropdown style="color:aliceblue"  class="nav-item dropdown">
          <a ngbDropdownToggle style="color:aliceblue" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Account Details
          </a>
          <div ngbDropdownMenu  style="background-color:white;"class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a ngbDropdownItem  routerLink="/accountsummary" style="color: #4A4DE7;"class="dropdown-item" >Account Summary</a>
            <a ngbDropdownItem  routerLink="/accountstatement" style="color: #4A4DE7;" class="dropdown-item">Account Transactions</a>
          </div>
        </li>
        <li ngbDropdown style="color:aliceblue"  class="nav-item dropdown">
          <a ngbDropdownToggle style="color:aliceblue" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Fund Transfer
          </a>
          <div ngbDropdownMenu  style="background-color:white;"class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a ngbDropdownItem routerLink="/payee" style="color: #4A4DE7;"class="dropdown-item"  href="#">Payee</a>
            <a ngbDropdownItem routerLink="/neft" style="color: #4A4DE7;"class="dropdown-item"  href="#">NEFT</a>
            <a ngbDropdownItem routerLink="/rtgs" style="color: #4A4DE7;" class="dropdown-item" href="#">RTGS</a>
            <a ngbDropdownItem routerLink="/imps" style="color: #4A4DE7;" class="dropdown-item" href="#">IMPS</a>
          </div>
        </li>

      <li class="nav-item">
        <a style="color:aliceblue"  routerLink="/profile"  class="nav-link">User Profile</a>
      </li>

      <li ngbDropdown style="color:aliceblue"  class="nav-item dropdown">
        <a ngbDropdownToggle style="color:aliceblue" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Change Passwords
        </a>
        <div ngbDropdownMenu  style="background-color:white;"class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a ngbDropdownItem  routerLink="/forgot-passaword" style="color: #4A4DE7;"class="dropdown-item"  href="#">Reset Login Password</a>
          <a ngbDropdownItem  routerLink="/forgot-transaction" style="color: #4A4DE7;" class="dropdown-item" href="#">Reset Transaction Password</a>
        </div>
      </li>
      <li class="nav-item">
        <a style="color:aliceblue" class="nav-link" (click)="deleteCookie()">Logout</a>
      </li>
      
    </ul>
  </div>
</nav>


<div class="p-3 mb-2">
  <h2 style="text-align:center;">Add New Beneficiary</h2>
  </div>
  <form>

    <div class="form-group row">
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Beneficiary Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-lg" name="BeneficiaryName" [(ngModel)]="BeneficiaryName" style="width:400px;" ><br>
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg" >Beneficiary Account Number </label>
      <div class="col-sm-10">
        <input type="number" class="form-control form-control-lg" name="BeneficiaryAccountNo" [(ngModel)]="BeneficiaryAccountNo" style="width:400px;" ><br>
        
      </div>
    </div>
    <div class="form-group row" >
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Re-Enter Account Number</label>
      <div class="col-sm-10">
        <input type="number" class="form-control form-control-lg" name="BeneficiaryAccountNo" [(ngModel)]="BeneficiaryAccountNo"style="width:400px;"  ><br>
      </div>
      
    </div>
    <div class="form-group row" >
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Nick Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-lg" name="NickName" [(ngModel)]="NickName"style="width:400px;" ><br>
      </div>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" class="myinput large custom" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Save Beneficiary
      </label>
    </div>
    <div class="button">
    <button class="btn btn-primary" type="submit" (click)="addpayee()">Save As Beneficiary</button>
  </div>
  </form>
