<nav class="navbar  navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
      <path d="M8 .95 14.61 4h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.379l.5 2A.5.5 0 0 1 15.5 17H.5a.5.5 0 0 1-.485-.621l.5-2A.5.5 0 0 1 1 14V7H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 4h.89L8 .95zM3.776 4h8.447L8 2.05 3.776 4zM2 7v7h1V7H2zm2 0v7h2.5V7H4zm3.5 0v7h1V7h-1zm2 0v7H12V7H9.5zM13 7v7h1V7h-1zm2-1V5H1v1h14zm-.39 9H1.39l-.25 1h13.72l-.25-1z"/>
    </svg>
    <div class="spacer_logo"></div>  
  <a  routerLink="/aboutbank" style="transform:translateY(17px); margin-left:5px; color: aliceblue;font-size:20px;" class="navbar-brand" href="#">Banking</a>
  <div class="spacer"></div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link active" aria-current="page">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link active">Register</a>
        </li>
        <li class="nav-item">
          <a routerLink="/internet-banking" class="nav-link active">Internet Banking</a>
        </li>
        <li class="nav-item">
          <a routerLink="/create new account" class="nav-link active">Create New Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="position-relative" style="position: relative; top: -3.8%;">
  <div class="position-absolute top-0 start-0 "><img class="img-responsive" src="assets/images/bankimage.jpg" ></div>
</div>
<div class="float-right">
  <br><br><br><br><h1 style="text-align:center">Login</h1><br><br>
  <form  #loginForm="ngForm" style="max-width:500px;margin:auto;">

  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field "  type="text" placeholder="Enter CustomerID" name="customerId" [(ngModel)]="customerId">
    
  </div><br>

  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field " required 
     type="password" name="password" placeholder="Enter Password" [(ngModel)]="password" >
   
  </div>
  <p class="p1"><a routerLink="/forgot-passaword" class="text-secondary">Forget Password?</a></p><br>
  <button type="submit" class="btn" (click)="getCookies()">Login</button><br>
<p class="p2">
   <br> New User? <a class="text-primary" routerLink="/register">Register</a>
  </p>

</form>
</div>


