<nav class="navbar  navbar-expand-lg " style="background-color: #bc5eff; color: #ffffff;">
  <div class="container-fluid"> 
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bank" viewBox="0 0 16 16">
      <path d="M8 .95 14.61 4h.89a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v7a.5.5 0 0 1 .485.379l.5 2A.5.5 0 0 1 15.5 17H.5a.5.5 0 0 1-.485-.621l.5-2A.5.5 0 0 1 1 14V7H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 4h.89L8 .95zM3.776 4h8.447L8 2.05 3.776 4zM2 7v7h1V7H2zm2 0v7h2.5V7H4zm3.5 0v7h1V7h-1zm2 0v7H12V7H9.5zM13 7v7h1V7h-1zm2-1V5H1v1h14zm-.39 9H1.39l-.25 1h13.72l-.25-1z"/>
    </svg> -->
    <div class="spacer_logo"></div>  
  <a  routerLink="/aboutbank" style="transform:translateY(17px); margin-left:5px; color: aliceblue;font-size:20px;" class="navbar-brand" href="#">.NB</a>
  <div class="spacer"></div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link active"  style="color: #ffffff;">Login</a>
          <!-- aria-current="page" -->
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link active" style="color: #ffffff;">Register</a>
        </li>
        <li class="nav-item">
          <a routerLink="/internet-banking" class="nav-link active" style="color: #ffffff;">Internet Banking</a>
        </li>
        <li class="nav-item">
          <a routerLink="/create new account" class="nav-link active" style="color: #ffffff;">Create New Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <div style="margin:30px; padding: 5px;">
  <h1 style="color:#bc5eff; font-weight: 800; text-align: center; font-size: 6em;">.NetBank</h1>
</div> -->
<!-- <div style="margin: 10px;">
  <img src="assets\office.jpg" class="img-responsive" alt="Responsive image" 
    style="align-items:center; display: flex; width: 100%; height: 900px; padding: 5px 20px 5px 20px;">
</div>  -->

<div class="container">
  <img src="assets\office.jpg" style="width:100%; margin-bottom: 20px;">
  <div class="centered" style="color:#bc5eff; font-weight: 800; text-align: center; font-size: 6em;">
    <!-- <h1 style="color:#bc5eff; font-weight: 800; text-align: center; font-size: 6em;">.NetBank</h1> -->
    .NetBank
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid p-3 footer fixed-bottom" style="background-color:#bc5eff;">
<h2 style="color: aliceblue;">In case of any queries.Please write to <a href="#" style="color: aliceblue;"><u>http://www.support.DotNetBank.com</u></a></h2>
<h2 style="color:aliceblue;">&copy; &nbsp;Copyright 2022.All Rights Reserved.</h2>
</div> 