<nav class="navbar  navbar-expand-lg " style="background-color: #bc5eff; color: #ffffff;">
  <div class="container-fluid"> 
   
    <div class="spacer_logo"></div>  
  <a  routerLink="/aboutbank" style="transform:translateY(17px); margin-left:5px; color: aliceblue;font-size:20px;" class="navbar-brand" href="#">.NB</a>
  <div class="spacer"></div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link active"  style="color: #ffffff;">Login</a>
          
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link active" style="color: #ffffff;">Register</a>
        </li>
        <li class="nav-item">
          <a routerLink="/internet-banking" class="nav-link active" style="color: #ffffff;">Internet Banking</a>
        </li>
        <li class="nav-item">
          <a routerLink="/create new account" class="nav-link active" style="color: #ffffff;">Create New Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <img src="assets\office.jpg" style="width:100%; margin-bottom: 20px;">
  <div class="centered" style="color:#bc5eff; font-weight: 800; text-align: center; font-size: 6em;">
   
    .NetBank
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid p-3 footer fixed-bottom" style="background-color:#bc5eff;">
<h2 style="color: aliceblue;">In case of any queries.Please write to <a href="#" style="color: aliceblue;"><u>http://www.support.DotNetBank.com</u></a></h2>
<h2 style="color:aliceblue;">&copy; &nbsp;Copyright 2022.All Rights Reserved.</h2>
</div> 