<div class = "container-fluid mb-5">
    <h1 style="text-align:center;margin-top:40px;">Forgot Password</h1>
        <form #forgotpassword="ngForm">
            <div class = "form-group">
                <label><strong>Enter Customer ID</strong></label>
                <input class="form-control"  type="text" name="customerId" [(ngModel)]="customerId"/>
            </div>
            <div class = "form-group">
                <label><strong>OTP</strong></label>
                <input class="form-control" type="text" name="OTP" [(ngModel)]="OTP"/>
            </div>
            <div class = "form-group">
                <label><strong>Enter new Login Password</strong></label>
                <input class="form-control" placeholder="Enter password" type="password" name="password" [(ngModel)]="password"/>
            </div>
            <div class = "form-group">
                <label><strong>Confirm new Login Password</strong></label>
                <input class="form-control"  placeholder="Enter password" type="password" name="RePassword" [(ngModel)]="RePassword"/>
            </div>
            <div>
                <button class="btn btn-primary btn-lg " (click)="updateLoginPassword()">Submit</button>
            </div>
        </form>
</div>

