.form-group{
    width:350px;
    left:50%;
    top:60px;
    position:relative;
    transform:translate(-50%,-50%);
}
.form-check{
    width:350px;
    left:50%;
    top:70px;
    position:relative;
    transform:translate(-50%,-50%);
}
.btn{
    left:50%;
    top:40px;
    margin-bottom: 1px;
    margin-top:20px;
    position:relative;
    transform:translate(-50%,-50%);
}