
 .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.input ol li{
  list-style: none;
  float: left;
  padding: 20px;
  position: relative;
  left: -15%;
}