h1{
    font-weight: bold;
    color:dodgerblue;
  
    margin-left: 50%;
  }
  .icon-phone,.icon-user,.icon-lock{
    padding: 20px;
    background: dodgerblue;
    color: white;
    min-width: 58px;
    text-align: center;
    font-size: 20px;
  
  }
  
  
  .input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    margin-left: 75%;
  }
  
  .icon {
    padding: 20px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
    font-size: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  .p1{
     margin-left:150%;
     width:100%
  }
  .p2{
    margin-left: 110%;
     width:100%
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 70%;
    opacity: 0.9;
    margin-left: 90%;
  
  }
  .spacer{
    flex:8 8 auto;
}
  a{
    cursor: pointer;
  }
  .btn:hover {
    opacity: 1;
  }
  